body{
    margin: auto;
    max-width: 900px;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --primary-color:#34D399;
    --section-color:#ECFDF5;
}

.header{
    padding-bottom: 2rem;
}

.container-white{
    max-width: 600px;
    margin: auto;
}
.image{
    max-width: 80%;
    width: 400px;
    display: block;
    margin: auto;
}